//COLORS
$color-primary: #03045e;
$color-secondary: #023e8a;
$color-grey-light: #edf0f2;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  display: grid;
  max-width: 200rem;
  min-width: 25rem;
  margin: 0 auto;
}

.section-container {
  margin: 8rem auto;
  padding: 0 2.4rem;
  max-width: clamp(50rem, 85vw, 130rem);
}
