//COLORS
$color-primary: #03045e;
$color-secondary: #023e8a;
$color-grey-light: #edf0f2;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-rows: 95vh;
  grid-template-columns: repeat(8, minmax(min-content, 1fr));

  @media only screen and (min-width: 125em) {
    max-width: 200rem;
    margin: 0 auto;
  }
}
