.footer {
  grid-column: 1 / -1;
  background-color: black;
}

.footer-box {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: clamp(1.6rem, 4vw, 5rem);
}

.footer-navigation {
  width: 100%;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  justify-items: center;
}

.legal {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
  }
}
