.header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba($color-primary, 0.6),
      rgba($color-secondary, 0.6)
    ),
    url('../img/c.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heading {
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  padding: clamp(1rem, 4vw, 3rem);
}

.header-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  color: #fff;

  @media only screen and (max-width: 40em) {
    justify-content: flex-start;
  }
}

.nav {
  list-style: none;

  &__link {
    text-decoration: none;
    color: #fff;
    padding: 2rem;
    transition: background-color 0.5s;

    &:hover {
      background-color: $color-primary;
    }
  }
}

.nav-flex {
  display: flex;

  @media only screen and (max-width: 40em) {
    display: none;
  }
}

.mobile__nav {
  display: none;
  padding: 1rem;
  margin-left: 2rem;

  @media only screen and (max-width: 40em) {
    display: block;
  }
}

.logo {
  padding: 1rem;
  font-weight: 900;
}
