.header {
  position: absolute;
  // background-color: var(--color-blue);
  color: #fff;
  width: 100%;
  z-index: 100;

  @media only screen and (max-width: 50em) {
    background-color: var(--color-blue);
  }

  & .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding: 1.2rem 0;
    border-bottom: 1px solid #fff;

    & ul {
      display: flex;
      justify-content: center;
      align-items: center;

      list-style: none;
      font-size: 1.7rem;
      font-weight: 700;

      @media only screen and (max-width: 50em) {
        display: none;
      }

      & li:not(:last-child) {
        padding: 0rem 2.5rem;
        transition: background-color 0.5s;

        & a {
          color: #fff;
          text-decoration: none;

          &:hover {
            color: var(--color-blue-lighter-2);
          }
        }
      }
    }

    & .logo {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  & .nav-icon {
    display: none;
    border: 1px solid #fff;
    padding: 0.1rem;

    @media only screen and (max-width: 50em) {
      display: block;
    }
  }
}
