.section-hero {
  background-image: linear-gradient(rgba(3, 4, 94, 0.5), rgba(2, 61, 138, 0.6)),
    url('../img/header-bg-img.jpg');
  height: unquote($string: 'max(100vh, 60rem)');
  background-position: center;
  background-size: cover;
  color: #fff;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  max-width: 70ch;
  height: 100%;
}
