.section-offer {
  padding: var(--section-padding);
  background: url('../img/offer-img.jpg') fixed no-repeat center !important;
  background-size: cover;
  position: relative;
  color: #fff;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 202, 228, 0.45);
    z-index: -1;
  }
}
.offer-box {
  display: grid;
  grid-template-columns: repeat(var(--num-of-col), minmax(20rem, 1fr));
  gap: 5rem;
  justify-items: center;
  align-items: center;

  &__percentage {
    font-size: clamp(10rem, 20vw, 15rem);
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
}
