.reviews {
  background-color: $color-grey-light;
}

.reviews-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-gap: clamp(1.6rem, 4vw, 5rem);

  @media only screen and (max-width: 47.5em) {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
  }

  @media only screen and (max-width: 26.56em) {
    grid-template-columns: repeat(1, minmax(min-content, 1fr));
  }
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
  height: 30rem;
  padding: clamp(1.5rem, 1.5vw, 2.5rem);
  transition: all 0.3s;
  background-color: #fff;

  &:hover {
    transform: scale(1.03);
  }

  & > * {
    padding: clamp(0.5rem, 1vw, 1rem);
  }

  &:hover &__photo {
    transform: translateY(8px);
  }

  &__photo {
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
    transition: transform 0.3s;
  }

  &__name {
    font-weight: 900;
  }
}

//////TESTING
.hide {
  @media only screen and (max-width: 47.5em) {
    display: none;
  }
}
